<section id="welcome">
<div class="container">
  <% if signed_in? %>
    Hey, Welcome <%= current_user.email %>
    <div class="row">
      <div class="col-md-8">
        <h1>Register your TIME Frame</h1>
        <%= link_to 'Register your TIME Bike/frame', new_user_bike_path(current_user), class: 'btn btn-primary' %>
      </div>
      </div>
      <div class="row">
        <h4>You have <%= current_user.bikes.count %> TIME bike(s)!</h4>
        <% current_user.bikes.each do |b| %>
          <div class="col-md-3">
            <h4><%= link_to b.bike_model, user_bike_path(current_user.id, b.id) %></h4>
            <p>Purchased: <%= b.date_purchased.strftime('%D') %><br />
              <%= time_ago_in_words(b.date_purchased) %>
            </p>

          </div>

        <% end %>
      </div>
    
  <% else %>
    
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2 text-center">
          <h1>Welcome to the TIME Sport Owners Club</h1>
        </div>
      </div>

      <div class="row">
        <div class="col-lg-4 col-lg-offset-4 welcome-choices">
          <p class="lead">Sign up to register your TIME Sport frame or bicycle. In addition, you'll get exclusive offers on TIME frames, pedals and accesories.</p>
          <%= link_to 'Sign up', new_user_registration_path, class: 'btn btn-lg btn-block btn-primary' %><br>
          <p class="text-center">Already registered? <%= link_to 'Sign in', new_user_session_path %></p>
          

        </div>
      </div>
      

        

      </div>
    
  <% end %>
</div>
</section>