<style>



#welcome {
  background-image:image-url('/assets/Skylon-AKTIV-white-bike.png');
}

</style>


<section id="welcome">
<div class="container">
  <% if signed_in? %>
    Welcome <%= current_user.email %>
    <div class="row">
      <div class="col-md-9">
        <h1>Welcome to the TIME Sport Club</h1>
        
      </div>
      <div class="col-md-3">
        <%= link_to 'Register your TIME', new_user_bike_path(current_user), class: 'btn btn-primary btn-block btn-lg' %>
      </div>
      </div>
      <div class="row">

        <div class="col-md-9">

          <% if current_user.bikes.present? %>
            <% current_user.bikes.each do |b| %>
              <%= format_bike_grid(current_user.bikes.count).html_safe %><!-- above will return the opening div --> 
                <%= image_tag b.bike_image.url, class: 'img-responsive' %>
                <h4><%= link_to b.bike_model, user_bike_path(current_user.id, b.id) %></h4>
                <p>Purchased: <%= b.date_purchased.strftime('%D') %><br />
                  <%= time_ago_in_words(b.date_purchased) %>
                </p>
              </div><!-- closing div for helper returned div -->
            <% end %>
          <% else %>
            <div class="well" style="background-color:#fff;">
                <h4><strong>Get started by registering your first TIME bike or frame.</strong> <%= link_to 'Register your TIME', new_user_bike_path(current_user) %> </h4>
                <p>You'll need the model, serial number and a picture of your receipt to be eligible for the TIME limited warranty.</p>
              </div>
          <% end %>
        </div>
        <div class="col-md-3" id="sidebar">
          <h4>
            <% if current_user.bikes.count == 0 %>
              You have not registered any bikes or frames yet.
            <% else %>
              You have <%= pluralize(current_user.bikes.count, "TIME bike") %>!
            <% end %>
            
          </h4>
          <h3><%= complete_info(current_user) %></h3>
        </div>
        
      </div>
    
  <% else %>

    <style>
      #welcome {background-position-x:-190%;}
    </style>
    
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2 text-center">
          <h1>Welcome to the TIME Sport Owners Club</h1>
        </div>
      </div>

      <div class="row">
        <div class="col-lg-6 col-lg-offset-3 welcome-choices">

          <p class="lead">Be part of the TIME Sport club. As a club member you'll enjoy these benefits.</p>
          <ul class="lead">
            <li><strong>Register for a free limited warranty by registering your bike or frame</strong></li>
            <li>Exclusive offers on TIME Sport apparel and accessories</li>
            <li>Keep up with TIME news</li>
            <li>TIME events: Rides, Demo days</li>
            <li>Exclusive Company Tours</li>
            <li>Exclusive TIME Club kit </li>
            <li>T-Shirt purchase proceeds go to charity</li>
            <!-- <li>Strava Mile Rewards</li> -->

            <!-- <li>Add different club levels</li> -->

            <!-- diffent club levels 

          Add contact us.
          Make user settings required
          Add Strava login



          -->


          </ul>



          <!-- <p class="lead">Sign up to register your TIME Sport frame or bicycle to be eligible for a lifetime warranty. In addition, you'll get exclusive offers on TIME frames, pedals and accesories.</p> -->
          <div class="text-center"><%= link_to 'Sign up', new_user_registration_path, class: 'btn btn-lg btn-primary text-center' %></div><br>
          <h3 class="text-center">Already registered? <%= link_to 'Sign in', new_user_session_path %></h3>
          

        </div>
      </div>
      

        

      </div>
    
  <% end %>
</div>
</section>