<h1>Register your TIME Bike/Frame</h1>


<%= simple_form_for ([@user, @bike]) do |f| %>
  <%= f.input :bike_model, collection: TIME_MODELS, prompt: "Select TIME frame model" %>
  <%= f.input :bike_other, label: "If you selected other, enter your bike model" %>
  <%= f.input :serial_number, label: 'Serial Number' %>
  <%= f.input :bike_dealer, label: 'TIME Dealership'%>
  <div class='clearfix'><%= f.input :date_purchased, start_year: Time.now.year - 10, end_year: Time.now.year, order: [:month, :day, :year], label: 'Date Purchased', class: 'clearfix' %></div>

  <h3>Bike Fit Measurements</h3>
  <p>For your convenience, you can store your bicycle fit measurements here. Specify all measurements in millimeters (mm).</p>
  <%= f.input :bike_image, label: "Upload a photo of your bike" %>
  <%= f.input :bike_saddle_height, label: "Saddle Height", placeholder: 'Center of crank to top of saddle' %>
  <%= f.input :bike_saddle_bar, label: "Saddle to Bar", placeholder: 'Tip of saddle to center of handlebar' %>
  <%= f.input :bike_bar_drop, label: "Bar Drop", placeholder: 'Vertical distance - top of saddle to top of bars' %>

<%= f.submit %>
<% end %>
