<!DOCTYPE html>
<html>
<head>
  <title>TIME Sport Club</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= render 'shared/header' %>

<div class="container">
<% if notice %>
  <p class="notice alert alert-info"><%= notice %></p>
<% elsif alert %>
  <p class="alert alert-danger"><%= alert %></p>
<% end %>

<% if admin_signed_in? %>
  <% if current_admin.god_mode? %>
    <%= "God Mode"  %>
  <% elsif %>
    <%= "Reports Only" %>
  <% end %>
<% end %>
</div>


<%= yield %>


</body>
</html>
