<!DOCTYPE html>
<html>
<head>
  <title>TIME Sport Club</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= render 'shared/header' %>

<div class="container">
  <%= flash_messages %>
<!--
<%# if notice %>
  <p class="notice alert alert-info"><%#= notice %></p>
<%# elsif alert %>
  <p class="alert alert-danger"><%#= alert %></p>
<%# end %>
-->


<% if admin_signed_in? %>
  <% if current_admin.god_mode? %>
     <div style="background-color:rgba(0,0,0,.1);padding:15px;box-radius:10px;color:rgba(0,0,0,.6);margin-bottom:20px;">You are logged in as ADMIN</div>
  <% elsif %>
    <%= "Reports Only" %>
  <% end %>
<% end %>
</div>


<%= yield %>


</body>
</html>
